@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    //border: solid red;//
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    font-family: "Oswald";

    h2 {
        font-weight: 700; //peso, quanto maior mais forte a cor//
        font-size: 2.5rem; //fonte, convertido de px para rem no conversor//
    }

    nav {
        // border: solid green;//
        width: 50%;
        height: 15vh;
    }

    ul {
        height: 15vh;
        display: flex;
        // border: solid blue;//
        justify-content: space-evenly;
        list-style: none;
        align-items: center;


    }

    li {
        font-size: 1.25rem;
        font-weight: 500;

    }


    a {

        text-decoration: none;
        color: #5B5B5B;
    }

    a:hover {
        color: #000;
        font-size: 1.5rem;
        border: solid;
        font-weight: 900;
    }
}

.container_background_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    height: 70vh;
    background-color: aqua;
    background-image: url("./imagens/background.png");
    // background-repeat: repeat-x; //repetir no eixo x
    // background-repeat: repeat-y; //repete no eixo y
    // background-repeat: repeat repeat; //se repete nos mesmos eixos
    background-repeat: no-repeat; //não quero q ele se repita

    background-size: contain; //pega o tamanho da imagem
    background-size: cover; //se  molda ao tamanho  da caixa
    //background-size: 100% 80vh; //1 valor é largura 2 é altura



    // background-size: 100% 80vh; //1 é a altura 2 largura
    //background-position: top; //topo
    //background-position: bottom; //fundo
    // background-position: left; //esquerda
    //background-position: right; //direita
    background-position: center; //centro

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 30vh;
        width: 60%;
        
        margin-left: 100px;

    }


    h1 {
        width: 50%;
        font-family: "Oswald";
        font-weight: 700;
        font-size: 6rem;
        color: #FFFFFF;



    }

    h2 {
        font-family: "Oswald";
        font-weight: 300;
        font-size: 2rem;
        color: #FFFFFF;


    }

    button {
        border: solid blue;
        background-color: blue;
        font-family: "Oswald";
        font-weight: 700;
        font-size: 1.5rem;
        color: #FFFFFF;
        width: 10%;
        height: 5vh;

    }

    

}

.texto_gestao_portuaria {
    display: flex;
    align-items: center;
    margin-left: 50%;
    



    h1 {
        font-family: "Oswald";
        font-weight: 500;
        font-size: 1.5rem;
        color: #0017E9;

    }

    h2 {
        font-family: "roboto";
        font-weight: 800;
        font-size: 2.25rem;
        color: #000000;
    }

    p {
        border: solid red;
        font-family: "roboto";
        font-weight: 400;
        font-size: 1.5rem;
        


    }


}